.userContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.userContainer img {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 50px;
}