.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading-title {
    margin: 20px;
}

.underline {
    width: 300px;
    height: 5px;
    background-color: purple;
    border-radius: 50%;
}

.searchboxContainer {
    margin: 40px auto 10px auto;
}

.userContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.userContainer img {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 50px;
}